<!-- Wrapper -->
<div id="wrapper">
  <!-- Header Container -->
  <header id="header-container" class="fullwidth">
    <app-navbar></app-navbar>
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <!-- Titlebar -->
  <div id="titlebar" class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Change Password</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-xl-5 offset-xl-3">
        <div class="login-register-page">
          <!-- Welcome Text -->

          <!-- Form -->
          <form
            id="changePassword-From"
            [formGroup]="changePasswordFrom"
            (ngSubmit)="changePasswordFrom.valid && submit()"
          >
            <div class="input-with-icon-left">
              <i class="icon-material-outline-lock"></i>
              <app-inputs
                [control]="password"
                type="password"
                class="input-text with-border"
                name="password"
                id="password"
                placeholder="Password"
                required
              >
              </app-inputs>
            </div>
            <div class="input-with-icon-left">
              <i class="icon-material-outline-lock"></i>
              <app-inputs
                [control]="confirmPassword"
                type="password"
                class="input-text with-border"
                name="password"
                id="password"
                placeholder="Confirm Password"
                required
              >
              </app-inputs>
            </div>
          </form>

          <!-- Button -->
          <button
            class="btn button full-width button-sliding-icon ripple-effect margin-top-10 registerButton"
            type="submit"
            [disabled]="changePasswordFrom.invalid"
            form="changePassword-From"
          >
            Submit <i class="icon-material-outline-arrow-right-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="margin-top-70"></div>
  <!-- Spacer / End-->
  <app-footer></app-footer>
</div>
<!-- Wrapper / End -->
