<!-- Header -->
<div id="header">
  <div class="container">
    <!-- Left Side Content -->
    <div class="left-side">
      <!-- Logo -->
      <div id="logo">
        <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
      </div>

      <!-- Main Navigation -->
      <nav id="navigation">
        <ul id="responsive">
          <li *ngIf="(accountService.currentUser$ | async) == null">
            <a class="current">Join us</a>
            <ul class="dropdown-nav">
              <li>
                <a routerLink="/signin" routerLinkActive>signin</a>
              </li>
              <li><a routerLink="/signup" routerLinkActive>signup</a></li>
            </ul>
          </li>
          <li>
            <a class="current">Technicians</a>
            <ul class="dropdown-nav">
              <li><a routerLink="/search"> Search Technicain</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>
      <!-- Main Navigation / End -->
    </div>
    <!-- Left Side Content / End -->

    <!-- Right Side Content / End -->
    <div
      class="right-side"
      *ngIf="(accountService.currentUser$ | async) != null"
    >
      <!--  User Notifications -->
      <div class="header-widget">
        <!-- Notifications -->
        <div class="header-notifications">
          <!-- Trigger -->
          <div class="header-notifications-trigger">
            <button
              (click)="openMenu('notifications')"
              (focusout)="openMenu('')"
            >
              <i class="icon-feather-bell"></i>
              <span>4</span>
            </button>
          </div>

          <!-- Dropdown -->
          <div
            [ngClass]="{ show: openedMenu === 'notifications' }"
            class="header-notifications-dropdown"
            style="opacity: 1; visibility: visible"
          >
            <div class="header-notifications-headline">
              <h4>Notifications</h4>
              <button
                class="mark-as-read ripple-effect-dark"
                title="Mark all as read"
                data-tippy-placement="left"
              >
                <i class="icon-feather-check-square"></i>
              </button>
            </div>

            <div class="header-notifications-content">
              <div class="header-notifications-scroll" data-simplebar>
                <ul>
                  <!-- Notification Items -->
                  <app-navbar-notification-item></app-navbar-notification-item>
                </ul>
              </div>
            </div>
            <a
              routerLink="/dashboard"
              class="header-notifications-button ripple-effect button-sliding-icon"
              >View All<i class="icon-material-outline-arrow-right-alt"></i
            ></a>
          </div>
        </div>

        <!-- Messages -->
        <div class="header-notifications">
          <div class="header-notifications-trigger">
            <button (click)="openMenu('messages')" (focusout)="openMenu('')">
              <i class="icon-feather-mail"></i>
              <span>3</span>
            </button>
          </div>

          <!-- Dropdown -->
          <div
            [ngClass]="{ show: openedMenu === 'messages' }"
            class="header-notifications-dropdown"
            style="opacity: 1; visibility: visible"
          >
            <div class="header-notifications-headline">
              <h4>Messages</h4>
              <!--
                  <button
                    class="mark-as-read ripple-effect-dark"
                    title="Mark all as read"
                    data-tippy-placement="left"
                  >
                    <i class="icon-feather-check-square"></i>
                  </button>
                  -->
            </div>

            <div class="header-notifications-content">
              <div class="header-notifications-scroll" data-simplebar>
                <ul>
                  <!-- Message Items -->
                  <app-navbar-message-item></app-navbar-message-item>
                </ul>
              </div>
            </div>

            <a
              routerLink="/dashboard/messages"
              class="header-notifications-button ripple-effect button-sliding-icon"
              >View All Messages<i
                class="icon-material-outline-arrow-right-alt"
              ></i
            ></a>
          </div>
        </div>
      </div>
      <!--  User Notifications / End -->

      <!-- User Menu -->
      <div class="header-widget">
        <!-- Messages -->
        <div class="header-notifications user-menu">
          <div class="header-notifications-trigger">
            <button (click)="openMenu('settings')" (focusout)="openMenu('')">
              <div class="user-avatar status-online">
                <img
                  src="/assets/avatars/avatar-{{ currentuser.avatarId }}.png"
                  alt=""
                />
              </div>
            </button>
          </div>

          <!-- Dropdown -->
          <div
            [ngClass]="{ show: openedMenu === 'settings' }"
            class="header-notifications-dropdown"
          >
            <!-- User Status -->
            <div class="user-status">
              <!-- User Name / Avatar -->
              <div class="user-details">
                <div class="user-avatar status-online">
                  <img
                    src="/assets/avatars/avatar-{{ currentuser.avatarId }}.png"
                    alt=""
                  />
                </div>
                <div class="user-name">
                  {{ currentuser.userName }}
                  <span>{{
                    currentuser.type == "T" ? "Technician" : "customer"
                  }}</span>
                </div>
              </div>

              <!-- User Status Switcher -->
              <!--
                  <div class="status-switch" id="snackbar-user-status">
                    <label class="user-online current-status">Online</label>
                    <label class="user-invisible">Invisible</label>
                    <span
                      class="status-indicator"
                      aria-hidden="true"
                    ></span>
                  </div>
                  -->
            </div>

            <ul class="user-menu-small-nav">
              <li>
                <a routerLink="/dashboard"
                  ><i class="icon-material-outline-dashboard"></i> Dashboard</a
                >
              </li>
              <li>
                <a routerLink="/dashboard/settings"
                  ><i class="icon-material-outline-settings"></i> Settings</a
                >
              </li>
              <li>
                <a (click)="logOut()" style="cursor: pointer"
                  ><i class="icon-material-outline-power-settings-new"></i>
                  Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- User Menu / End -->

      <!-- Mobile Navigation Button -->
      <!-- <span class="mmenu-trigger">
        <button class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </span> -->
    </div>
    <!-- Right Side Content / End -->
  </div>
</div>
<!-- Header / End -->
