<!-- Intro Banner -->
<!-- add class "disable-gradient" to enable consistent background overlay -->
<div class="intro-banner">
    <div class="container">
        <!-- Intro Headline -->
        <div class="row">
        <div class="col-md-12">
            <div class="banner-headline">
            <h3>
                <strong
                >Hire experts or be hired for any job, any time.</strong
                >
                <br />
                <span
                >Thousands of small businesses use
                <strong class="color">Fixit</strong> to turn their ideas
                into reality.</span
                >
            </h3>
            </div>
        </div>
        </div>

        <!-- Search Bar -->
        <div class="row">
        <div class="col-md-12">
            <div class="intro-banner-search-form margin-top-95">
            <!-- Search Field -->
            <div class="intro-search-field with-autocomplete">
                <label
                for="autocomplete-input"
                class="field-title ripple-effect"
                >Where?</label
                >
                <div class="input-with-icon">
                <input
                    id="autocomplete-input"
                    type="text"
                    placeholder="Online Job"
                />
                <i class="icon-material-outline-location-on"></i>
                </div>
            </div>

            <!-- Search Field -->
            <div class="intro-search-field">
                <label for="intro-keywords" class="field-title ripple-effect"
                >What job you want?</label
                >
                <input
                id="intro-keywords"
                type="text"
                placeholder="Job Title or Keywords"
                />
            </div>

            <!-- Button -->
            <div class="intro-search-button">
                <button
                class="button ripple-effect"
                routerLink="/search"
                >
                Search
                </button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="background-image-container" style="background-image: url('assets/images/home-background.jpg');"></div>
</div>